# numpy # install with conda
# scipy # install with conda
pytorch-lightning
opencv-contrib-python
matplotlib
loguru
# torch # install with conda
atari-py
gym
fire
lightning-bolts
wandb
einops
seaborn
pandas
ddsketch
typing-extensions  # For typing.Self
